/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --primary-color-a: #3f357b;
  --visited-color-a: #ae7a0a;
  --dark-grey: #2b2b2b;
  --background-color: #cecece;
  --header-color: rgb(180, 180, 180);
  --button-color: #2c8b79;
  --button-shadow: rgba(0, 0, 0, 0.3);
  --table-color: rgb(199, 173, 251);
  --header-border: rgb(132, 131, 131);
  --a-focus: rgba(0, 0, 0, 1);
  --a-hover: rgb(111, 111, 111, 0.25);
  --p-font: rgb(0, 0, 0);
  --a-grid: rgb(227, 227, 227);
  --button-radius: 5px;
  --padding: 10px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  font-size: 20;
  line-height: 1.6;
  color: var(--darkgrey);
}
head {
  font-size: 25px;
  line-height: 1.6;
}
h1 {
  font-size: 15px;
  font-weight: 700;
}
h2 {
  font-size: 10px;
  font-weight: 500;
}
h3 {
  font-size: 10px;
  font-weight: 400;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* links */
a {
  font-size: 10px;
  color: var(--primary-color-a);
}

a:active {
  color: var(--dark-grey);
}

a:visited {
  color: var(--visited-color-a);
}
.page-header__item a {
  border: none;
  display: inline-block;
  font-family: inherit;
  margin-top: 8px;
  padding: var(--padding);
  border-radius: var(--button-radius);
  background-color: var(--button-color);
  color: white;
  border-bottom: 2px solid var(--button-shadow);
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.page-header__item a:hover {
  opacity: 70%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.page-header__item a:visited {
  color: var(--dark-grey);
}

a:focus {
  outline: 2px solid var(--a-focus);
}

a:hover {
  color: rgb(0, 0, 0);
  background-color: var(--a-hover);
}

/* header */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px;
  background-color: var(--header-color);
  border-bottom: var(--header-border);
}
#logo {
  width: 85px;
  height: auto;
  padding: var(--padding);
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  margin-right: 30px;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-right: 5px;
}

.navigation-list__item {
  border: none;
  display: inline-block;
}

p {
  font-size: 20px;
  padding: var(--padding);
  color: var(--p-font);
}
/* buttons */
.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  margin-top: 10px;
  padding: var(--padding);
  border-radius: var(--button-radius);
  background-color: var(--button-color);
  color: white;
  border-bottom: 2px solid var(--button-shadow);
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.ryan-about div {
  margin: 0px, 35px, 0px, 35px;
}
button:hover,
button:focus,
.button:hover,
.button:hover {
  opacity: 70%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* about images */
#svg1 {
  margin: 0px 0px 0px 0px;
  max-width: 100%;
  height: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* sun image animation */
.sun {
  -webkit-animation: 2s color-change infinite alternate linear;
  animation: 2s color-change infinite alternate linear;
}

/* cloud image animations */
.cloud-front {
  scale: 200%;
  -webkit-animation: 45s cloud-move-1 infinite alternate linear;
  animation: 45s cloud-move-1 infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 45s cloud-move-2 infinite alternate linear;
  animation: 45s cloud-move-2 infinite alternate linear;
}

@-webkit-keyframes color-change {
  0% {
    fill: #fff6dc;
  }
  100% {
    fill: #ffcc00;
  }
}

@keyframes color-change {
  0% {
    fill: #fff6dc;
  }
  100% {
    fill: #ffcc00;
  }
}

@-webkit-keyframes cloud-move-1 {
  from {
    -webkit-transform: translate(100px, 60px);
    transform: translate(100px, 60px);
  }
  to {
    -webkit-transform: translate(600px, 60px);
    transform: translate(600px, 60px);
  }
}

@keyframes cloud-move-1 {
  from {
    -webkit-transform: translate(100px, 60px);
    transform: translate(100px, 60px);
  }
  to {
    -webkit-transform: translate(600px, 60px);
    transform: translate(600px, 60px);
  }
}

@-webkit-keyframes cloud-move-2 {
  from {
    -webkit-transform: translate(1000px, 20px);
    transform: translate(1000px, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}

@keyframes cloud-move-2 {
  from {
    -webkit-transform: translate(1000px, 20px);
    transform: translate(1000px, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
/* cloud stop hover state */
svg:hover .cloud-back {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

svg:hover .cloud-front {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* sun hover state enlarge */
.sun:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}
/*Ryan profile picture*/
.profile__portrait {
  float: left;
  width: 250px;
  margin: 10px 10px 10px 0;
  border-radius: 50%;
}
/* table */
.table-head {
  background-color: var(--table-color);
  text-align: center;
  right: 50%;
  max-width: 700px;
  margin: 0 auto;
}

.ryan-table {
  margin: 20px;
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 2px solid black;
  padding: 5px;
}
/* contact page */
.ryan-contact {
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* form */
.ryan-contact__form {
  max-width: 700px;
  margin: 20 auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*profile content*/
.ryan-profile {
  max-width: 90%;
  margin: 0 auto;
}
.ryan-about {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}
.ryan-table {
  text-align: center;
  right: 50%;
  max-width: 700px;
  margin: 0 auto;
}

/* footer */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
/* grid */
.grid-a {
  color: var(--a-grid);
}
.grid-a:visited {
  color: var(--a-grid);
}
.grid-a:focus {
  color: var(--a-grid);
}
.grid-a:hover {
  color: var(--visited-color-a);
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#grid-container .grid_item {
  background-color: grey;
  border-radius: 15px;
  color: white;
  text-align: center;
  min-height: 100px;
}
#grid-container .grid_item:nth-child(7) {
  -ms-grid-column: 4;
  grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}
/* responsive page */
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #logo {
    width: 25px;
  }
  .profile__portrait {
    width: 25%;
  }
  h1 {
    font-size: 10px;
  }
  h2 h3 {
    font-size: 8px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .profile__portrait {
    width: 50%;
  }
  #logo {
    width: 50px;
  }
  h1 {
    font-size: 15px;
  }
  h2 h3 {
    font-size: 10px;
  }
}
@media all and (min-width: 750px) and (max-width: 900px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  #logo {
    width: 65px;
  }
  .profile__portrait {
    width: 75%;
  }
  h1 {
    font-size: 15px;
  }
  h2 h3 {
    font-size: 10px;
  }
}
